<div class="jumbotron">
  <h1>{{discount*100}}% Discount!</h1>
 
  <div class="row">
    <div class="col-sm-4">
      <h4>Standard</h4>
      <strong>Now {{prices.standard.base*discount | currency}}</strong>
      <br>
      Was ${{prices.standard.base}}
      <br>
      <br>
      <!-- <button type="button" class="btn btn-primary btn-sm">
        <a ng-href="#">Add to Cart</a>
      </button> -->
      <a ng-href="#/{{prices.standard.endpoint}}" class="btn btn-primary btn-sm" role="button">Add to Cart</a>
    </div>

    <div class="col-sm-4">
    <h4>Pro</h4>
    <strong>Now {{prices.pro.base*discount | currency}}</strong>
    <br>
    Was ${{prices.pro.base}}
    <br>
    <br>
    <a ng-href="#/{{prices.pro.endpoint}}" class="btn btn-primary btn-sm" role="button">Add to Cart</a>
    </div>

    <div class="col-sm-4">
    <h4>Business</h4>
    <strong>Now {{prices.business.base*discount | currency}}</strong>
    <br>
    Was ${{prices.business.base}}
    <br>
    <br>
    <a ng-href="#/{{prices.business.endpoint}}" class="btn btn-primary btn-sm" role="button">Add to Cart</a>
    </div>
  </div>
</div>


